.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.link_wrapper{
    display: flex;
    flex-direction: ;
}
.nav{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    color: #706e6e;
    align-items: center;
    gap: 30px;
    /* min-width: 40%; */
    

    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-weight:800 ;
    }
    nav{
        font-family: Arial, Helvetica, sans-serif;
        font-weight:600;
        cursor: pointer;
    }
}
.loginBtn{
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 10px;
    gap: 30px;
    /* min-width: 20%; */
    color: #706e6e;
    nav{
        width:50px ;
        cursor: pointer;
    }
}

.btn1{
  background-color: transparent;
  border: 1px solid darkgray;
  height: 35px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
}
.logo-nav{
    display: flex;
    gap:20px;
}
.iconMenu{
    display:none;
}


@media screen and (max-width: 580px) {
    .iconMenu {
      display: block;
    }
  
    .link_wrapper {
      display: none;
    }
  }
    .iconMenu {
      display: block;
    }
  
    .link_wrapper{
      display: none;
    }
  